@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 18s linear infinite;
}

body {
  font-family: system-ui, sans-serif;
}